[package]
name = "game"
version = "0.1.0"
edition = "2024"


[dependencies]
# Could potentially use webgpu feature in the future
bevy = {version = "0.18.0", default-features = false, features = ["3d"]} 
